header {
    background: #6e3f98;
    margin-bottom: 30px;
    nav {
        background: rgba(0,0,0,.4);
        height: 60px;
        display: flex;
        align-items: center;
        .navbar  {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            max-width: 1280px;
            padding: 0 15px;
            width: 100%;
            margin: auto;
            select {
                border: 2px solid #6e3f98;
                background: transparent;
                border-radius: 10px;
                color: #ffffff;
                padding: 8px;
                cursor: pointer;
            }
            option {
                color: black !important;
            }
            div {
                height: 100%;
                display: flex;
                align-items: flex-end;
                width: 40%;
                justify-content: space-between;
                @media (max-width: 850px) {
                    width: 60%;
                    button {
                        font-size: 18px !important;
                        height: 60%;
                    }
                }
                    button {
                        outline: 0;
                        border: 0;
                        height: 75%;
                        background: transparent;
                        color: #ffffff;
                        width: max-content;
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: space-between;
                        cursor: pointer;
                        font-size: 25px;
                        &::before {
                            opacity: 0;
                            content: '';
                            width: 100%;
                            height: 4px;
                            background: #ffffff;
                            border-radius: 8px 8px 0 0;
                            transition: 200ms all;
                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                            }
                        }
                }
            }
        }
    }
}