.today {
    background-image: linear-gradient(#6e3f98,#a37697);
    max-width: 900px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    color: #ffffff;
    padding: 25px;
    h1 {
        margin-bottom: 10px;
    }
    .today__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 450px) {
            flex-direction: column;
            .body__left {
                margin-bottom: 20px;
            }
        }
        .body__left {
            p {
               font-size: 100px;
               font-weight: 700;
               position: relative;
                span {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 3px solid white;
                    position: absolute;
                    top: 10px;
                }
            }
            b {
                font-size: 25px;
                margin: 10px 0;
            }
            .wind {
                margin-top: 10px;
                i {
                    margin-right: 10px;
                }
            }
            .humidity {
                margin-top: 10px;
                i {
                    margin-right: 10px;
                }
            }
        }
        .body__right {
            font-size: 30px;
            text-transform: capitalize;
        }
    }
}